---
layout: default
---
<div class="w3-container blue w3-padding-large">
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-cell-row w3-white">
                <div class="w3-col l4 w3-hide-small w3-hide-medium">
                    <img src="{{ '/assets/img/efteraar.jpg' | relative_url }}" class="w3-image">
                </div>
                <div class="w3-col l8 w3-white w3-center w3-container">
                    <h2>Efterårssæson 2022</h2>
                    <p class="w3-large">
                        Velkommen til en ny sæson<br/>
                        med tilbud på spændende kurser<br/>
                        - både i dag- og aftentimerne.</p>
                </div>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
    <div class="w3-row w3-padding-24 w3-hide">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-row w3-white">
                <div class="w3-white w3-container w3-large">
                    <p>Nu kan vi heldigvis så småt begynde at starte vores aktiviteter i forårssæsonen 2022.<br/><br/>

                        Vi starter de fleste hold fra og med mandag d. 24. januar.<br/>
                        Enkelte hold kan starte tidligere efter aftale med underviseren.<br/><br/>

                        Koret er aflyst i forårssæsonen, og vi forventer, at det starter igen til efteråret.<br/>
                        Seniordans starter tidligst efter yderligere udmeldinger fra myndighederne d. 31. januar.<br/><br/>

                        Vi forventer at have deltaljer omkring varighed og pris af hold klar hurtigst muligt.<br/><br/>

                        Vi minder om, at deltagelse i alle aktiviteter kræver brug af mundbind eller visir samt coronapas.
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-row w3-white">
                <div class="w3-white w3-container">
                    <p>Hvis du har ønsker om kurser, hører vi gerne fra dig, og så vil vi se, om vi kan oprette
                        dem.<br/><br/>
                        Kurserne er for alle.<br/>
                        Betaling er inden kursusstart på kontonr. 3409 3241619508 (Danske Bank).<br/>
                        <br/>
                        Venlig hilsen og vel mødt!<br/><br/>
                        Skoleleder Grethe Nickelsen, tlf: 61667007<br/>
                        Email: info@dag-aftenskolen.dk
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
</div>
<a id="nyheder">
    <div class="w3-container green w3-xxlarge w3-hide">
        <div class="w3-row">
            <div class="w3-col l1 w3-hide-small w3-hide-medium"><p></p></div>
            <div class="w3-col l11">
                Nyheder
            </div>
            <div class="w3-col l1"></div>
        </div>
    </div>
</a>
<div class="w3-container blue w3-padding-large w3-hide">
    {% for entry in site.data.news %}
    <!-- News entry card -->
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-row w3-white w3-display-container">
                <div class="w3-container">
                    <h1>{{ entry.title }}</h1>
                </div>
                <div class="w3-container">
                    <p>{{ entry.description}}</p>
                </div>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
    {% endfor %}
</div>
<div class="w3-container green w3-xxlarge w3-hide">
    <div class="w3-row">
        <div class="w3-col l1 w3-hide-small w3-hide-medium"><p></p></div>
        <div class="w3-col l11">
            Arrangementer i denne sæson
        </div>
        <div class="w3-col l1"></div>
    </div>
</div>
<div class="w3-container blue w3-padding-large">

    <!-- Activity card -->
    <div class="w3-row w3-padding-24">
      <div class="w3-col l1"><p></p></div>
      <div class="w3-col l10">
        <div class="w3-row w3-white">
          <div class="w3-col l4 w3-hide-small w3-hide-medium">
            <img src="{{ '/assets/img/shakespear.jpg' | relative_url }}" class="w3-image w3-hide-small w3-hide-medium" style="height: 240px; object-fit: cover;">
          </div>
          <div class="w3-col l8 w3-container">
            <h1>Foredrag</h1>
              <h3>Mennesket og verden hos Shakespeare</h3>
              <p>v/Christian Friis, Askov, idehistoriker og højskolelærer</p>
              <p style="text-align: justify;"><i>"Shakespeares værker betegnes ofte sammen med Bibelen som de mest indflydelsesrige tekster i vestlig litteratur. Han inkarnerer den periode af Englands historie, der kaldes den elizabethanske tidsalder, og i hans dramatiske univers kommer mange af tidens tanker og idéer til udtryk."</i></p>
              <p style="text-align: justify;"><i>"Hamlet er et af hans mest berømte skuespil, men også et af de mest gådefulde. Indkapslet i et drama om et kongemord rumsterer tematikker som tid og evighed, liv og død, fornuft og lidenskab. Foredraget introducerer de idéhistoriske forudsætninger for Shakespeares verden, hvorefter jeg giver et bud på en analyse af Hamlet som en moderne myte, en model på verden og livet."</i></p>
            <h3>Tirsdag, den 29. november kl. 19.00 på Rønde Bibliotek</h3>
              <p><b>Tilmelding nødvendig</b> på tlf. 61667007 eller info@dag-aftenskolen.dk</p>
            <p>Entre: 75 kr,- (kt.nr. 3409 3241619508)</p>

          </div>
        </div>
      </div>
      <div class="w3-col l1"><p></p></div>
    </div>

</div>
<a id="kurser">
    <div class="w3-container green w3-xxlarge">
        <div class="w3-row">
            <div class="w3-col l1 w3-hide-small w3-hide-medium"><p></p></div>
            <div class="w3-col l11">
                Kurser
            </div>
            <div class="w3-col l1"></div>
        </div>
    </div>
</a>
<div class="w3-container blue w3-padding-large">
    {% for course in site.data.courses %}
    <!-- Course card -->
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-row w3-white w3-display-container">

                <div class="w3-display-topright w3-black w3-container w3-xlarge">{{ course.number }}</div>
                <div class="w3-container">
                    <h1>{{ course.title }}{% if course.subtitle %}<small>/{{ course.subtitle }}</small>{% endif %}
                    </h1>
                </div>
                <div class="w3-container">
                    {{ course.description}}
                </div>
                <table class="w3-table">
                    <tr>
                        <td width="125px;" style="font-weight: 900;">Tid:</td>
                        <td>{{ course.time }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 900;">Sted:</td>
                        <td>{{ course.place }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 900;">Lærer:</td>
                        <td>{{ course.teacher }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 900;">Pris:</td>
                        <td>{{ course.price }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
    {% endfor %}
</div>
<div class="w3-container w3-light-grey w3-center w3-small">
    <a href="{% link persondatapolitik.html %}" class="w3-button w3-margin-left">Persondatapolitik</a>
    <a href="https://www.danskoplysning.dk" class="w3-button w3-margin-left">Tilknyttet Dansk Oplysnings Forbund</a>
    <a title="Find os på Facebook" class="w3-button w3-margin-left" href="https://www.facebook.com/dagaftenskolen"><img
            alt="Find os på Facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
</div>
