---
layout: default
---
<div class="w3-container blue w3-padding-large">
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-cell-row w3-white">
                <div class="w3-col l4 w3-hide-small w3-hide-medium">
                    <img src="{{ '/assets/img/efteraar.jpg' | relative_url }}" class="w3-image">
                </div>
                <div class="w3-col l8 w3-white w3-center w3-container">
                    <h2>Efterårssæson 2024</h2>
                    <p class="w3-large">
                        Velkommen til en ny sæson<br/>
                        med tilbud på spændende kurser<br/>
                        - både i dag- og aftentimerne.</p>
                </div>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
</div>
<a id="nyheder">
    <div class="w3-container green w3-xxlarge w3-hide">
        <div class="w3-row">
            <div class="w3-col l1 w3-hide-small w3-hide-medium"><p></p></div>
            <div class="w3-col l11">
                Nyheder
            </div>
            <div class="w3-col l1"></div>
        </div>
    </div>
</a>
<div class="w3-container blue w3-padding-large w3-hide">
    {% for entry in site.data.news %}
    <!-- News entry card -->
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-row w3-white w3-display-container">
                <div class="w3-container">
                    <h1>{{ entry.title }}</h1>
                </div>
                <div class="w3-container">
                    <p>{{ entry.description}}</p>
                </div>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
    {% endfor %}
</div>
<div class="w3-container green w3-xxlarge">
    <div class="w3-row">
        <div class="w3-col l1 w3-hide-small w3-hide-medium"><p></p></div>
        <div class="w3-col l11">
            Arrangementer i denne sæson
        </div>
        <div class="w3-col l1"></div>
    </div>
</div>
<div class="w3-container blue w3-padding-large">

    <!-- Activity card -->
    <!--
    <div class="w3-row w3-padding-24">
      <div class="w3-col l1"><p></p></div>
      <div class="w3-col l10">
        <div class="w3-row w3-white">
          <div class="w3-col l4 w3-hide-small w3-hide-medium">
            <img src="{{ '/assets/img/book.jpg' | relative_url }}" class="w3-image w3-hide-small w3-hide-medium" style="height: 240px; object-fit: cover;">
          </div>
          <div class="w3-col l8 w3-container">
            <h1>Fællesarrangement</h1>
              <h3>Gæstelærer i litteratur</h3>
              <p>med Birthe Ikkala og Ian Lukins</p>
            <h3>Onsdag, den 4. januar kl. 14-16:30<br/>på Rønde Bibliotek</h3>
            <p>Der er fri entre og plads til alle interesserede.</p>
          </div>
        </div>
      </div>
      <div class="w3-col l1"><p></p></div>
    </div>
    -->
    <div class="w3-row w3-padding-24">
      <div class="w3-col l1"><p></p></div>
      <div class="w3-col l10">
        <div class="w3-row w3-white">
          <div class="w3-col l4 w3-hide-small w3-hide-medium">
            <img src="{{ '/assets/img/israel.jpg' | relative_url }}" class="w3-image w3-hide-small w3-hide-medium" style="height: 240px; object-fit: cover;">
          </div>
          <div class="w3-col l8 w3-container">
            <h3>Foredrag</h3>
              <h3><b>Israel - fra bibelsk land til moderne stat</b></h3>
              <h3>v/Christian Friis, Askov</h3>
              <p>Landområdet Israel, der tidligere hed Palæstina, er såvel en levende, moderne stat som et land, der historisk trækker tråde flere tusinde år tilbage i tiden. Fra den bibelske periode gennem talrige kulturer og rigers påvirkninger til den nyere tid, zionismens fremkomst og endelig proklamationen af staten Israel i 1948. Foredraget sætter fokus på den nyere tid og forudsætningerne for staten, der stadig udgør et kernepunkt i den mellemøstlige konflikt.</p>
              <h3>Onsdag, den 6. november kl. 19.00</h3>
              <h3>Syddjurs Gymnasium, festsalen</h3>
            <p>Entre: kr. 75,-</p>
          </div>
        </div>
      </div>
      <div class="w3-col l1"><p></p></div>
    </div>
<!--
    <div class="w3-row w3-padding-24">
      <div class="w3-col l1"><p></p></div>
      <div class="w3-col l10">
        <div class="w3-row w3-white">
          <div class="w3-col l4 w3-hide-small w3-hide-medium">
            <img src="{{ '/assets/img/kurv.jpg' | relative_url }}" class="w3-image w3-hide-small w3-hide-medium" style="height: 240px; object-fit: cover;">
          </div>
          <div class="w3-col l8 w3-container">
            <h3>Nyt kursus</h3>
              <h1>Kurve-/løbbinding</h1>
              <h3>ved Ellen Weber Carlsen</h3>
              <p>”Løb” er et gammelt ord for ”kurv,” så løbbinding betyder altså kurvebinding, og dette kursus vil have fokus
                  på de elementære teknikker, der skal til for at binde alt fra bordskånere over brødkurve til kurve til
                  strikketøj mm.<br/>
                  Løbbinding er en fantastisk teknik, hvis man tænker i bæredygtighed og genbrug, og der er næsten ingen
                  grænser for, hvilke materialer, der kan bruges.<br/>
                  Dette kursus vil fokusere på brug af tekstiler, så har du gamle duge, t-shirts, sengelinned, viskestykker
                  o.lign., som bare ligger og fylder op, så tag det med! På kurset vil der i øvrigt være mulighed for at tilkøbe
                  materialer til et farverigt produkt af sari-silke.<br/>
                  Nogle vil have stiftet bekendtskab med teknikken, hvor zig-zag på symaskinen er brugt til at binde kurven
                  sammen. På dette kursus bruger vi hænderne, så selv om løbbinding er for alle, skal der alligevel en vis
                  styrke i fingrene til for at få bundet kurven.</p>
              <h3>Den 7. og 8. oktober, kl. 10-16</h3>
              <h3>på Rønde Bibliotek</h3>
          </div>
        </div>
      </div>
      <div class="w3-col l1"><p></p></div>
    </div>
-->
</div>
<div class="w3-container blue w3-padding-large">
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-row w3-white">
                <div class="w3-white w3-container">
                    <p>Hvis du har ønsker om kurser, hører vi gerne fra dig, og så vil vi se, om vi kan oprette
                        dem.<br/><br/>
                        Kurserne er for alle.<br/>
                        Betaling er inden kursusstart på kontonr. 3409 3241619508 (Danske Bank).<br/>
                        <br/>
                        Venlig hilsen og vel mødt!<br/><br/>
                        Skoleleder Grethe Nickelsen, tlf: 61667007<br/>
                        Email: info@dag-aftenskolen.dk
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
</div>
<a id="kurser">
    <div class="w3-container green w3-xxlarge">
        <div class="w3-row">
            <div class="w3-col l1 w3-hide-small w3-hide-medium"><p></p></div>
            <div class="w3-col l11">
                Kurser
            </div>
            <div class="w3-col l1"></div>
        </div>
    </div>
</a>
<div class="w3-container blue w3-padding-large">
    {% for course in site.data.courses %}
    <!-- Course card -->
    <div class="w3-row w3-padding-24">
        <div class="w3-col l1"><p></p></div>
        <div class="w3-col l10">
            <div class="w3-row w3-white w3-display-container">

                <div class="w3-display-topright w3-black w3-container w3-xlarge">{{ course.number }}</div>
                <div class="w3-container">
                    <h1>{{ course.title }}{% if course.subtitle %}<small>/{{ course.subtitle }}</small>{% endif %}
                    </h1>
                </div>
                <div class="w3-container">
                    {{ course.description}}
                </div>
                <table class="w3-table">
                    <tr>
                        <td width="125px;" style="font-weight: 900;">Tid:</td>
                        <td>{{ course.time }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 900;">Sted:</td>
                        <td>{{ course.place }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 900;">Lærer:</td>
                        <td>{{ course.teacher }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 900;">Pris:</td>
                        <td>{{ course.price }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="w3-col l1"><p></p></div>
    </div>
    {% endfor %}
</div>
<div class="w3-container w3-light-grey w3-center w3-small">
    <a href="{% link persondatapolitik.html %}" class="w3-button w3-margin-left">Persondatapolitik</a>
    <a href="https://www.danskoplysning.dk" class="w3-button w3-margin-left">Tilknyttet Dansk Oplysnings Forbund</a>
    <a title="Find os på Facebook" class="w3-button w3-margin-left" href="https://www.facebook.com/dagaftenskolen"><img
            alt="Find os på Facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
</div>
