---
layout: default
title: Tilmelding
permalink: /tilmelding/
---
<div class="w3-container blue w3-padding-large">
	<div class="w3-row w3-padding-24">
		<div class="w3-col l1"><p></p></div>
		<div class="w3-col l10">
			<div class="w3-row w3-white">
				<div class="w3-white w3-container">
					<h3>Her kan du tilmelde dig holdene i Dag- og aftenskolen i Rønde:</h3>
					<form action="https://formsubmit.co/6256987aecab6cdc7e8c8b36a5c8d273" method="POST" class="w3-container w3-padding">
						<div class="w3-container w3-padding">
							{% for course in site.data.courses %}
							<input type="checkbox" name="hold{{ course.number }}">&nbsp;&nbsp;
							<label class="w3-large">{{ course.number }}. {{ course.title }}{% if course.subtitle %}/{{
								course.subtitle}}{% endif %}</label><br/>
							{% endfor %}
						</div>
						<div class="w3-container w3-padding">
							<label class="w3-large">Cpr-nr.:</label>
							<input name="cpr" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">Fornavn:</label>
							<input name="firstname" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">Efternavn:</label>
							<input name="lastname" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">Adresse:</label>
							<input name="address1" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">Adresse:</label>
							<input name="address2" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">Postnr.:</label>
							<input name="zip" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">By:</label>
							<input name="zipcity" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">Telefon:</label>
							<input name="phone" class="w3-input w3-border w3-round"><br/>
							<label class="w3-large">Email:</label>
							<input type="email" name="email" class="w3-input w3-border w3-round"><br/>
							<input type="hidden" name="_next" value="{{site.url}}{% link tak.html %}"/>
                            <input type="text" name="_honey" style="display:none">
							<input type="text" name="_gotcha" style="display:none"/>
                            <input type="hidden" name="_captcha" value="false">
							<div class="w3-center w3-padding">
								<input type="submit" value="Send tilmelding" class="w3-btn w3-white w3-border">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="w3-col l1"><p></p></div>
	</div>
</div>
