<!DOCTYPE html>
<html>
<head>
	<title>Dag- og aftenskolen i R&oring;nde</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>
    <div class="header"><img class="logo" src="{{ "/assets/img/logo.png" | relative_url }}" /></div>
    <div class="subheader">
	    <div class="menuheader"></div>
	    <div class="mainheader"></div>
    </div>

    <div class="content">
	    <div class="menu">
	        - <a href="/" class="link1">Startside</a><br />
          - <a href="{% link kurser.html %}" class="link1">Kurser</a><br />
          - <a href="{% link tilmelding.html %}" class="link1">Tilmelding</a> <br />
          - <a href="{% link bestyrelsen.html %}" class="link1">Bestyrelsen</a> <br /> <br />
	    </div>
	    <div class="main">
            {{ content }}
        </div>
    </div>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18356168-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<html>
